/* postselector.css */
/*body { background:#fff; margin:0; overflow:auto }*/

 body{
     height: 100%;
     background: rgba(2, 69, 105, 1);
     background: -moz-linear-gradient(top, rgba(2, 69, 105, 1) 0%, rgba(0, 86, 133, 1) 59%, rgba(0, 96, 148, 1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2, 69, 105, 1)), color-stop(59%, rgba(0, 86, 133, 1)), color-stop(100%, rgba(0, 96, 148, 1)));
     background: -webkit-linear-gradient(top, rgba(2, 69, 105, 1) 0%, rgba(0, 86, 133, 1) 59%, rgba(0, 96, 148, 1) 100%);
     background: -o-linear-gradient(top, rgba(2, 69, 105, 1) 0%, rgba(0, 86, 133, 1) 59%, rgba(0, 96, 148, 1) 100%);
     background: -ms-linear-gradient(top, rgba(2, 69, 105, 1) 0%, rgba(0, 86, 133, 1) 59%, rgba(0, 96, 148, 1) 100%);
     background: linear-gradient(to bottom, rgba(2, 69, 105, 1) 0%, rgba(0, 86, 133, 1) 59%, rgba(0, 96, 148, 1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#024569', endColorstr='#006094', GradientType=0);
     background-repeat: no-repeat;
      margin: 0;
      overflow: auto
}

body.post {
	background:#f8f8f8; margin:0; overflow:auto
}
svg.postselector {
	display:block; border:0px solid #ccc; position:relative;
	width:100%; background: rgba(124, 240, 10, 0.0);
}
p.title {
	font: 50px times;
	display: flex;
	justify-content: center;
	margin:0.3em auto;
	width: 100%;
}
p.title > input {
	font: 40px sans-serif;
	width: 3cm;
	background-color: #424242；

}

line.lane { stroke:1000; stroke-width:2px; stroke-dasharray:10,10 }
text.lane {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 100px;
	fill: #aaa;
	text-antialiasing: true;
	stroke: #aaa;
	/*opacity: 0.3;*/
}
rect.post { stroke:1000; fill: #ddd }
g.current > rect.post { stroke:#888; fill: #f8f8f8 }
text.post { font: 32px sans-serif }
rect.ghost { stroke:1000; fill: #ddd; opacity: 0.3 }
text {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}
div.content {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	font: 24px sans-serif;
	z-index: 10;
	background:#f8f8f8;
}
div.content p {
	background:inherit;
}
g.post > image {
	background: #fff;
}

#nav ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    font-size: 24px;
    display: block;
}

#nav ul li {
    /*float: left;*/
     display: inline-block;
     padding: 0;
     margin: 0;
  }

#nav ul li a {
    color: white;
    text-align: center;
    padding: 15px 35px;
    display: block;
    text-decoration: none;
    margin: auto;
    position: relative;
    top: 20px;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: color .25s;
     -moz-transition: color .25s;
     -ms-transition: color .25s;
     -o-transition: color .25s;
     transition: color .25s;
}

#nav ul li a:hover:before {
     width: 100%;
  }
#nav ul li a:hover:not(.active) {
     color: #FF9100;
     /*background-color: #111;*/
  }

  #nav ul li a:before {
     content: "";
     display: block;
     position: absolute;
     left: 0;
     top: 3px;
     height: 3px;
     width: 0;
     background: #FF9100;
 
     -webkit-transition: width .25s;
     -moz-transition: width .25s;
     -ms-transition: width .25s;
     -o-transition: width .25s;
     transition: width .25s;
 }
 
 #nav .active {
     color: #FF9100;
 }
 
 #nav .active::before {
     width: 100%;
 }
 
 .logo {
     float: left;
 }

table {
    width:80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}




