/* postselector.css */
body { background:#fff; margin:0; overflow:auto }
body.post {
	background:#f8f8f8; margin:0; overflow:auto
}
svg.postselector {
	display:block; border:0px solid #ccc; position:relative;
	width:100%; background:#fff;
}
p.title {
	font: 50px times;
	display: flex;
	justify-content: center;
	margin:0.3em auto;
	width: 13cm;
}
p.title > input {
	font: 40px sans-serif;
	width: 3cm;
	background-color: #424242；

}

line.lane { stroke:1000; stroke-width:2px; stroke-dasharray:10,10 }
text.lane {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 100px;
	fill: #aaa;
	text-antialiasing: true;
	stroke: #aaa;
	/*opacity: 0.3;*/
}
rect.post { stroke:1000; fill: #ddd }
g.current > rect.post { stroke:#888; fill: #f8f8f8 }
text.post { font: 32px sans-serif }
rect.ghost { stroke:1000; fill: #ddd; opacity: 0.3 }
text {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}
div.content {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	font: 24px sans-serif;
	z-index: 10;
	background:#f8f8f8;
}
div.content p {
	background:inherit;
}
g.post > image {
	background: #fff;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
    background-color: #424242;
    font-size: 22px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 120px;
    text-decoration: none;
    margin: auto;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #FF9100;
}

table {
    width:80%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}




