/* postselector.css */
body { background:#fff; margin:0; overflow:hidden }
body.post {
	background:#f8f8f8; margin:0; overflow:hidden
}
svg.postselector {
	display:block; border:0px solid #ccc; position:relative;
	width:100%; background:#fff;
}
p.title {
	font: 24px verdana;
	display: flex;
	
	justify-content: center;
	margin: 0.1em auto;
	width: 8cm;
}
p.title > input {
	font: 16px sans-serif;
	width: 3cm;

}

line.lane { stroke:1000; stroke-width:2px; stroke-dasharray:10,10 }
text.lane {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 100px;
	fill: #aaa;
	text-antialiasing: true;
	stroke: #aaa;
	/*opacity: 0.3;*/
}
rect.post { stroke:1000; fill: #ddd }
g.current > rect.post { stroke:#888; fill: #f8f8f8 }
text.post { font: 32px sans-serif }
rect.ghost { stroke:1000; fill: #ddd; opacity: 0.3 }
text {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	overflow: hidden;
}
div.content {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: default;
	font: 24px sans-serif;
	z-index: 10;
	background:#f8f8f8;
}
div.content p {
	background:inherit;
}
g.post > image {
	background: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



